<div class="col">
    <div class="card .h-100">
        <div class="card-body">
            <div class="container-title">
                <h5 class="card-title">{{label}}</h5>
            </div>
            <p class="card-text desc">{{node.field_descripcion_proyecto.value}}</p>
            <div class="card-footer">
                <p class="card-text"><small class="text-muted">Finalizado en {{node.field_fecha_finalizacion.value|date("Y")}}</small></p>
            </div>
        </div>
    </div>
</div>