{{ attach_library('RITA/about-styling') }}
<section id="boletines" class="tab-pane">
    <div class="section-title">
        <h2 data-aos="fade-down">Boletines</h2>
        <p>{{node.field_descripcion_investigador.value}}</p>
    </div>
    <div class="timeline">
        <ul>
            {% for item in content.field_boletin['#items']|reverse %}
            <li>
                <div>
                   <a href="{{ item.uri }}" target="_blank"><time>{{ item.title }}</time></a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>