/*--------------------------------------------------------------
# Config
--------------------------------------------------------------*/
:root {
    --main-1-color: #18494b !important;
    --main-2-color: #267c7f !important;
    --main-3-color: #386163 !important;
    --main-ligth-color: #2fafb4 !important;
}