/*--------------------------------------------------------------
# Config
--------------------------------------------------------------*/
:root {
    --main-1-color: #2A1327 !important;
    --main-2-color: #8F1B5D !important;
    --main-3-color: #6C2D8B !important;
    --main-ligth-color: #7D1C61 !important;
}