/*--------------------------------------------------------------
# Config
--------------------------------------------------------------*/
:root {
    --main-1-color: #006414 !important;
    --main-2-color: #009929 !important;
    --main-3-color: #28a739 !important;
    --main-ligth-color: #5ccb5f !important;
}