/*--------------------------------------------------------------
# Config
--------------------------------------------------------------*/
:root {
    --main-1-color: #c84323 !important;
    --main-2-color: #ff7f4d !important;
    --main-3-color: #ed5e35 !important;
    --main-ligth-color: #ffa16b !important;
}