/*--------------------------------------------------------------
# Config
--------------------------------------------------------------*/
:root {
    --main-1-color: #b87400 !important;
    --main-2-color: #fed353 !important;
    --main-3-color: #b88a00 !important;
    --main-ligth-color: #f6a700 !important;
}